<!DOCTYPE html>
<html>
<body>

<h2>Your Resume</h2>
<h3>Work Experience</h3>
<div id="workExperience"></div>
<script>
  let container = document.getElementById('workExperience');
  var workExperience = JSON.parse('{{ work_experience | tojson | safe }}');
  workExperience.forEach((we, index) => {
    let textarea = document.createElement('textarea');
    let textarea_id = 'work_experience_' + index;
    textarea.setAttribute('id', textarea_id);
    textarea.setAttribute('name', textarea_id);
    textarea.setAttribute('rows', '10');
    textarea.setAttribute('cols', '100');
    textarea.value = we.join('\n');
    container.appendChild(textarea);

    let br = document.createElement('br');
    container.appendChild(br);
  });        
</script>    




<a href="/">Back</a>

</body>
</html>
